TEST_AMOUNT=0.005
BNB_AMOUNT=100
WALLET_ADDRESS=<0x944ba4fB662F32b10752688b2d87c59487123032>
PRIVATE_KEY=<0x944ba4fB662F32b10752688b2d87c59487123032>
BSC_WSS=wss://bsc-ws-node.nariox.org:443
BSC_HTTPS=https://bsc-dataseed.binance.org/
MORALIS_BSC=https://speedy-nodes-nyc.moralis.io/<tudayuria>/bsc/mainnet
